html,
body {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Cinzel, serif";
}

body h1 {
  text-align: center;
  font-size: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: white;
  color: #fff;
}

.main-content {
  min-height: 1000px;
}

.home-btn {
  display: flex;
  align-items: center;
  background-color: white;
  color: #fff;
  padding: 0;
  margin: 0;
}

header nav h1 {
  padding: 0;
  margin: 5px;
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 1rem;
  font-size: large;
}

header nav button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-left: 1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*header nav a:hover {
  text-decoration: none;
  background-color: rgb(12, 121, 88);
  border-radius: 5px;
}*/

.nav-link-style {
  color: #547844;
  font-size: 30px;
}

.category-nav {
  display: flex;
  justify-content: center;
  background-color: #547844;
  gap: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-nav-text {
  color: white;
  font-size:large;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: grey;
  color: #fff;
}

.monied-form {
  margin: 1rem auto;
  height: 100%;
  max-width: 80rem;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

form input {
  box-sizing: border-box;
  line-height: 1.15rem;
  width: 100%;
  margin: 1.5rem 0;
  border-radius: 0.625rem;
}

form button {
  font-size: 1.25rem;
  padding: 0.625rem;
  margin: 1rem 0;
  font-weight: bold;
  border: none;
  background-color: grey;
  color:rgb(12, 121, 88);
  border-radius: 0.625rem;
  width: 100%;
}

.login {
  text-align: center;
}

.error{
  font-size: large;
  color: red;
  text-align: center;
}

form p {
  margin: 0.5rem;
  text-align: center;
}

footer h2{
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: large;
  padding-left: 15px;  
}

.page-style{
  padding-top: 25px;;
}

.project-card {
  width: 35rem;
  margin-top: 2rem;
  justify-content: center;
  border-color: black !important;
  border-style: solid;
  border-width: 3px !important;
  cursor: pointer;
}

.project-view {
  width: 1500px;
  height: 1500px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}


.project-div {
  height: 150px;
  padding-top: 20px;
}

#donate-btn {
 margin-left: 150px;
 font-size: 35px;
 font-weight:bold;
 background-color: #547844;
}

#share-btn {
  background-color: white;
  border-color: black;
  font-size: 35px;
  font-weight: bold;
}

.social-icon {
  margin-right: 5px;
  margin-left: 5px;
}

.comment-header {
  font-size: 40px;
  padding-left: 525px;
  font-weight: bold;
}

.comment-name {
font-weight: bold;
font-size: 20px;
margin-right: 50px;
margin-left: 10px;
}

.comment-quote {
font-weight: larger;
font-style: italic;
margin-left: 35px;
margin-bottom: 40px;
font-size: 20px;
}

.user-icon {
  margin-bottom: 3px;
  margin-right: 5px;
}

.organizer-text {
  font-size: 25px;
}

.goal-text {
  font-weight: bolder;
  padding-top: 70px;
  margin-left:  60px;;
  font-size: 40px;
}



#progress-styling {
  width: 525px;
  height: 30px;
  padding-left:0%;
  padding-right:0%;
  margin-left: 60px;
}

.description-text {
  font-size: 20px;
}

#border {
  border-color: black;
  border-style: solid;
}

.main-goal-div {
  border-style: solid;
  box-shadow:5px 10px #547844;
  margin-right: 15px;

}

#goal-div {
  padding-top: 30px;
  
}

#donate-btn-div {
  padding-top: 100px;
}

.note-styling {
  margin-left: 505px;
}

.user-image {
  width: 575px;
  height: 500px;
  border-style: solid;
  box-shadow:5px 10px #547844;
}

.fav-btn {
 color: rgb(12, 121, 88);
}

.fav-btn:hover {
  color: grey;
}

.bg-custom {
  background-color:#547844 !important;
}

.project-link {
  text-decoration: none;
  color: black;
}

.checkbox {
  padding: 
}

.home {
  text-align: center;
}

.Logo {
  width: 22%;
}

.new-project-link a {
  text-decoration: none;
  color: rgb(8, 148, 27);
  padding-left: 15px;
}

.dropdown {
  padding: 10px;
  margin: 5px;
}

.no-projects-message,
.no-projects-message a {
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-decoration: none;
  font-size: large;
}

.no-projects-message a {
  color: rgb(59, 231, 82);
  padding-left: 5px;
}

/*.dashboard,
.dashboard a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
}*/

.dashboard a {
  background-color: rgb(12, 121, 88);
  border-radius: 5px;
  padding: 10px;
}

.outline {
  -webkit-text-fill-color: rgb(58, 153, 70);
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
}

.section-title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.new-project-form {
  background-color: white;
  border-radius: 5px;

}

.checkbox label {
  display: inline-block;
  white-space: nowrap;
}

.checkbox input {
  vertical-align: middle;
  padding: 0;
}

.checkbox label span {
  vertical-align: middle;
  padding-left: 0;
  margin: 0;
}

.favoriteLink {
  font-size: small;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  padding-top: 100px;

}  

.flex-child:first-child {
  margin-right: 20px;
}

.monied-div {
 padding-top: 175px;
}

.donate-pic {
  padding-top: 50px;
}

.site-name-style {
  color:#547844  ;
  font-size: 75px;
  font-weight: 500;
}

.mission-stmt {
  font-size:x-large;
  font-weight: 400;
}

.slogan {
  font-weight: bold;
  font-size:x-large;
  padding-left: 300px;
}

.main-nav-icon {
  padding-bottom: 3px;
}

.org-name-style {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #a65024;
}